{% extends "base.html" %}

{% block content %}
<div class="basket">
    {% if not liked %}
    <h2 style="text-align: center">Вы не положили в корзину ни одного продукта</h2>
    {% else %}
    {% for item in liked %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="card text-center">
                <div class="card-header">
                    <img src={{ item.image }} class="card-img-top" style="max-width: 250px"
                         alt="Не получилось найти изображение">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text">{{ item.content }}</p>
                    <p class="card-text">Категория: {{ item.category }}</p>
                    <p class="card-text">Цена: {{ item.price }}</p>
                    <a class="btn btn-outline-warning"
                       href="{{ url_for('make_an_order', id=item.id) }}">Заказать
                    </a>
                    <a class="btn btn-outline-danger" href="{{ url_for('delete_basket', id=item.id) }}">Удалить</a>
                </div>
                <div class="card-footer text-muted">
                    Дата создания: {{ item.created_date }}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}
