<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Домашняя страница</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">KIRIESHKINA MARKET</a>
        <a class="navbar-brand" href="/">На главную</a>
        <p>
            <a class="btn btn-danger " href="/logout">Выйти из аккаунта</a>
        </p>
    </nav>
</header>
    <div class="home">
        <h1><mark>Имя:</mark> {{ name }}</h1>
        <h1><mark>Почта:</mark> {{ email }}</h1>
        <h2>{{ about }}</h2>
    </div>
    <a href="/add_product">
        <div class="btn btn-outline-dark btn-lg">
            Добавить новый продукт
        </div>
    </a>
    <div class="my_products">
        <h2>
            Ваши продукты:
        </h2>
        {% for item in products %}
            <div class="card border-dark mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="" class="card-img" alt="Дефолт">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text">Описание: {{ item.content }}</p>
                    <p class="card-text">Цена: {{ item.price }}</p>
                    <p class="card-text">Категория: {{ item.category }}</p>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>
