{% extends 'base.html' %}

{% block content %}
{% for item in all_products %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="card text-center">
            <div class="card-header">
                <img src={{ item.image }} class="card-img-top" style="max-width: 250px"
                     alt="Не получилось найти изображение">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">{{ item.content }}</p>
                <p class="card-text">Категория: {{ item.category }}</p>
                <p class="card-text">Цена: {{ item.price }}</p>
                <p class="card-text">Продавец: {{ item.user.name }}</p>
                <a class="btn btn-danger" href="{{ url_for('add_basket', id=item.id) }}">Добавить в корзину</a>
                <a class="btn btn-outline-primary" href="{{ url_for('make_an_order', id=item.id) }}">Заказать</a>
                <a class="btn btn-outline-success" href="{{ url_for('reviews', id=item.id) }}">Отзывы</a>
            </div>
            <div class="card-footer text-muted">
                Дата создания: {{ item.created_date }}
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
